Source: mapmaker
Priority: optional
Maintainer: Cédric OCHS <kervala@gmail.com>
Build-Depends: debhelper (>= 9), cmake(>= 2.6), qt5-default, libqt5svg5-dev, qttools5-dev-tools
Standards-Version: 3.9.3
Section: web
Bugs: http://dev.kervala.net/projects/mapmaker/issues
Homepage: http://dev.kervala.net/projects/mapmaker/

Package: mapmaker
Section: web
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Map editor
 This tool is a map editor, it can import different images and add marks.
 .
 This package contains the application.

Package: mapmaker-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${misc:Depends}, mapmaker (= ${binary:Version})
Description: Map editor
 This tool is a map editor, it can import different images and add marks.
 .
 This package contains the debug symbols.
